.option-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    padding: .5rem;
    margin: .5rem;
    background-color: rgba(255, 255, 255, 0.215);
    border-radius: 4px;
    display: none;
}

.option-container.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 4px;
    padding: .25rem 1rem;
    cursor: pointer;
    background-color: aliceblue;
}

.option-container div {
    display: inline-flex;
    align-items: center;
}
/* .option-container div:not(:last-child) {
    margin-bottom: .25rem;
} */
.option-container div > * {
    color: white;
    font-family: "Emulogic", Arial, sans-serif;
}
.option-container div > *:first-child {
    margin-right: .45rem;
}